@layer utilities {
  /* 헤딩 */
  /* @apply 키워드를 사용하면 (예시: text-heading1) 하나의 클래스네임의 Tailwind 클래스가 자동 생성됩니다. */
  .heading1 {
    @apply text-heading1;
  }
  .heading2 {
    @apply text-heading2;
  }
  .heading3 {
    @apply text-heading3;
  }
  .heading4 {
    @apply text-heading4;
  }
  .heading5 {
    @apply text-heading5;
  }

  /* 본문 */
  .bodyLarge {
    @apply text-bodyLarge;
  }
  .bodySmall {
    @apply text-bodySmall;
  }

  /* 캡션 */
  .caption {
    @apply text-caption;
  }

  .blind {
    position: absolute;
    border: 0px;
    width: 1px;
    height: 1px;
    padding: 0px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    white-space: nowrap;
    overflow-wrap: normal;
  }

  .nobreakstyle {
    @apply whitespace-nowrap break-keep overflow-hidden text-ellipsis;
  }

  /* 기본 line-clamp 유틸리티 */
  .line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: var(--lines, 2); /* 표준 속성 */
    -webkit-line-clamp: var(--lines, 2); /* 벤더 프리픽스 */
    overflow: hidden;
  }

  /* 줄 수 지정 */
  .line-1 {
    --lines: 1;
  }
  .line-2 {
    --lines: 2;
  }
  .line-3 {
    --lines: 3;
  }
  .line-4 {
    --lines: 4;
  }
}
